.stats-item {
  grid-column: 1 / span 3;
  display: grid;
  height: 5vh;
  font-size: 1.2em;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 2px solid aqua;
  padding: 5.4vh 0 5.4vh 0;
}
stats-item-header {
  font-size: 1.2em;
  text-align: center;
}
.stats-icon {
  padding: auto;
  text-align: center;
}
.cdt49td {
  text-align: left;
}
.cdt41tableouter h2 {
  text-align: center;
}
.stats-item td {
  text-align: center;
}
